{% extends 'base-bootstrap.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{super()}}Hello world
{% endblock %}
{% block content %}
    {% if username %}
        <h1>Bienvenido {{username | capitalize}}</h1>
    {%else%}
        <h1>Inicia sesión, por favor</h1>
    {% endif %}
    <h3>Hello world, tu ip es {{ user_ip }}</h3>

    <div class="container">
        <!-- <form action="{{url_for('hello')}}"method="POST">
            {{login_form.username.label}}
            {{login_form.username}}
            
        </form> -->
        {{wtf.quick_form(login_form)}}
    </div>
{% endblock %}